@import url(https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Public+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
.p-1, body {
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 400;
  color: #33323D;
}

.p-2 {
  font-family: "Public Sans", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.875rem;
  font-weight: 400;
  color: #33323D;
}

h1 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 3.125rem;
  line-height: 3.125rem;
  font-weight: 700;
  letter-spacing: -0.0281rem;
  color: #203A4C;
}

h2 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 2.5rem;
  line-height: 2.625rem;
  font-weight: bold;
  letter-spacing: -0.0225rem;
  color: #203A4C;
}

h3 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: -0.0181rem;
  color: #203A4C;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
}

body {
  min-height: 100vh;
  padding-block-start: 2rem;
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  line-height: 1.875rem;
  font-weight: 400;
  color: #33323D;
}

nav,
header,
main,
article,
.hero-img,
section {
  min-width: 19.4375rem;
  max-width: 90rem;
  padding-inline: 32px;
  margin-inline: auto !important;
}

.flex, .hero__btn, .navbar, .navbar ul, footer .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column, footer, footer .footer-nav, footer .footer-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn, .contact a {
  color: inherit;
  font-size: 0.75rem;
  padding: 0.625rem 2rem;
  letter-spacing: 0.125rem;
  border: 1px solid #33323D;
  width: -moz-fit-content;
  width: fit-content;
}

.container__text {
  padding-block: 2rem 3.125rem;
  margin-block-start: 2rem;
  border-block: 1px solid rgb(206, 204, 204);
}
.container__sub {
  opacity: 0.8;
  margin-block: 1.75rem 2.25rem;
}

.card {
  margin-block: 2.5rem 3rem;
  padding-block: 1.5625rem;
  border-block: 1px solid rgb(206, 204, 204);
}
.card__sub {
  margin-block: 1.5rem;
  opacity: 0.7;
}
.card__info p {
  font-size: 0.8125rem;
  font-weight: bold;
  color: #5FB4A2;
}
.card__info .btn, .card__info .contact a, .contact .card__info a {
  margin-block-start: 1.5rem;
}

.background {
  margin-block: 3rem 2.5rem;
}
.background__sub {
  margin-block-start: 1.75rem;
  opacity: 0.7;
}

.previews {
  margin-block-end: 4rem;
}
.previews__img1 {
  margin-block: 2.5rem 2rem;
}

.project__nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block-end: 4rem;
}
.project__nav img {
  margin-block-end: 1rem;
  cursor: pointer;
}
.project__nav p {
  opacity: 0.5;
}
.project__nav .nav-div {
  padding-block: 1.5rem;
  border-block: 1px solid rgb(206, 204, 204);
}
.project__nav .nav-div.right {
  border-inline-start: 1px solid rgb(206, 204, 204);
}
.project__nav .nav-div.right img,
.project__nav .nav-div.right h3,
.project__nav .nav-div.right p {
  margin-left: auto;
  text-align: right;
}

footer {
  background-color: #33323D;
  width: 100%;
  padding: 3.5rem 8.4375rem;
  gap: 2.5rem;
}
footer .footer-nav {
  gap: 2.5rem;
}
footer .footer-nav ul {
  gap: 2.875rem;
}
footer .social-icons {
  gap: 1rem;
}
footer img {
  cursor: pointer;
  filter: brightness(0) invert(1);
}
footer a {
  color: white;
}

.navbar {
  margin-block-end: 2.5rem;
}
.navbar ul {
  display: none;
  gap: 1.875rem;
}
.navbar ul a {
  color: #33323D;
}
.navbar .hamburger {
  display: block;
}

@media (min-width: 48rem) {
  nav,
  header,
  main,
  article,
  .hero-img,
  section,
  footer {
    padding-inline: 2.5rem;
  }
  body {
    padding-block-start: 4rem;
  }
  .navbar {
    margin-block-end: 5.875rem;
  }
  .navbar ul {
    display: flex;
  }
  .navbar .hamburger {
    display: none;
  }
  .hero {
    display: grid;
    grid-template-rows: 4fr;
    grid-template-columns: 3fr;
  }
  .hero__picture {
    grid-row: 1/5;
    grid-column: 1/4;
  }
  .hero__text {
    width: 32.125rem;
    background-color: white;
    grid-row: 3/5;
    grid-column: 1/3;
  }
  .hero__text h2 {
    margin-block: 3rem 3.5rem !important;
  }
  .container {
    display: grid;
    grid-template-columns: 1.25fr 1.75fr;
    gap: 4.375rem;
    place-items: center;
  }
  .container__text {
    margin-block-start: 0;
  }
  .contact {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 2rem;
  }
  .contact h2 {
    text-align: left;
  }
  .contact .line {
    height: 1px;
    width: 100%;
    min-width: 7.0625rem;
    background-color: rgb(206, 204, 204);
    margin-inline: auto;
  }
  footer {
    flex-direction: row;
    gap: 10rem;
    justify-content: space-between;
    padding: 3.5rem 5.9375rem !important;
  }
  footer .footer-nav {
    flex-direction: row;
    justify-content: start;
  }
  footer .footer-nav ul {
    flex-direction: row;
    gap: 2.625rem;
  }
  .bookmark,
  .insure,
  .fylo {
    margin-block-start: 5rem;
  }
  .fylo {
    margin-block-end: 6rem;
  }
  .container.bookmark,
  .container.fylo {
    grid-template-columns: 1.75fr 1.25fr;
  }
  .container.bookmark .container__picture,
  .container.fylo .container__picture {
    order: 2;
  }
  .container.bookmark .container__text,
  .container.fylo .container__text {
    order: 1;
  }
  .card {
    display: grid;
    margin-block: 2.5rem;
    padding-block: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "card__title card__sub" "card__info card__sub" "btn car__sub";
  }
  .card__title {
    grid-area: card__title;
  }
  .card__sub {
    grid-area: card__sub;
  }
  .card__info {
    grid-area: card__info;
  }
  .card .btn {
    grid-area: btn;
  }
  .previews {
    margin-block-end: 5rem;
  }
  .project__nav {
    margin-block-end: 5rem;
  }
  .project__nav .nav-div {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .project__nav .nav-div img {
    height: -moz-fit-content;
    height: fit-content;
  }
  .project__nav .nav-div.right {
    flex-direction: row-reverse;
  }
  .project__nav .nav-div.right img {
    margin-left: 0 !important;
  }
}
@media (min-width: 64rem) {
  nav,
  header,
  main,
  article,
  .hero-img,
  section,
  footer {
    padding-inline: 10.25rem;
  }
  .hero__text {
    max-width: 27.8125rem;
  }
  .about {
    margin-inline-end: 5.9375rem;
  }
  .container {
    display: grid;
    grid-template-columns: 1.75fr 1.25fr;
    gap: 7.8125rem;
  }
  .container__img {
    width: 100%;
  }
  .contact {
    grid-template-columns: 1fr 1fr 1fr;
    margin-block-end: 9.375rem !important;
    padding: -10.25rem;
  }
  .contact .line {
    max-width: 33.375rem;
  }
  footer {
    max-width: 69.375rem;
    margin-inline: auto;
  }
  footer .footer-nav {
    flex-direction: row;
    justify-content: start !important;
  }
  .manage {
    margin-inline-end: 5.9375rem !important;
  }
  .bookmark {
    margin-inline-start: 5.9375rem !important;
  }
  .insure {
    margin-inline-end: 5.9375rem !important;
  }
  .fylo {
    margin-inline-start: 5.9375rem !important;
    margin-block-end: 9.375rem !important;
  }
  .project__content {
    display: grid;
    margin-block-start: 7.1875rem;
    grid-template-columns: 1.2fr 1.8fr;
    -moz-column-gap: 7.8125rem;
         column-gap: 7.8125rem;
    align-items: start;
    grid-template-areas: "card back" "card previews";
  }
  .project__content .card {
    grid-area: card;
    display: flex;
    flex-direction: column;
  }
  .project__content .backgorund {
    grid-area: back;
  }
  .project__content .previews {
    grid-area: previews;
    margin-block-end: 4rem;
  }
}
.hero {
  margin-block-end: 6rem;
}
.hero__img {
  width: 100%;
}
.hero__text h2 {
  margin-block: 1.5rem 2rem;
}
.hero__btn {
  background-color: #203A4C;
  width: 12.5rem;
}
.hero__btn p {
  color: white;
  margin-inline: auto;
}
.hero__btn img {
  margin: 1.125rem;
}

.about {
  margin-block-end: 7.1875rem;
}

.contact {
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1.5rem;
  margin-block-end: 5rem;
}
.contact a {
  margin-inline: auto;
}

.bookmark, .insure, .fylo {
  margin-block-start: 4.5rem;
}

.fylo {
  margin-block-end: 5rem;
}/*# sourceMappingURL=main.css.map */