@import url(https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Public+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
.p-1, body {
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 400;
  color: #33323D;
}

.p-2 {
  font-family: "Public Sans", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.875rem;
  font-weight: 400;
  color: #33323D;
}

h1 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 3.125rem;
  line-height: 3.125rem;
  font-weight: 700;
  letter-spacing: -0.0281rem;
  color: #203A4C;
}

h2 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 2.5rem;
  line-height: 2.625rem;
  font-weight: bold;
  letter-spacing: -0.0225rem;
  color: #203A4C;
}

h3 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: -0.0181rem;
  color: #203A4C;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
}

body {
  min-height: 100vh;
  padding-inline: 2rem;
  padding-block-start: 2rem;
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 400;
  color: #33323D;
}

nav,
header,
main,
article,
section,
footer {
  min-width: 19.4375rem;
  max-width: 90rem;
  margin-inline: auto;
}

.flex, .hero__btn, .navbar, .navbar ul, footer .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column, footer, footer .footer-nav, footer .footer-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn, .contact a {
  color: inherit;
  font-size: 0.75rem;
  padding: 0.625rem 2rem;
  letter-spacing: 0.125rem;
  border: 1px solid #33323D;
  width: -moz-fit-content;
  width: fit-content;
}

footer {
  margin-inline: -2rem;
  background-color: #33323D;
  padding: 3.5rem 8.4375rem;
  gap: 2.5rem;
}
footer .footer-nav {
  gap: 2.5rem;
}
footer .footer-nav ul {
  gap: 2.875rem;
}
footer .social-icons {
  gap: 1rem;
}
footer img {
  background-color: white;
}
footer a {
  color: white;
}

.navbar {
  margin-block-end: 2.5rem;
}
.navbar ul {
  display: none;
  gap: 1.875rem;
}
.navbar ul a {
  color: #33323D;
}
.navbar .hamburger {
  display: block;
}

@media (min-width: 48rem) {
  body {
    padding-inline: 2.5rem;
    padding-block-start: 4rem;
  }
  .navbar {
    margin-block-end: 5.875rem;
  }
  .navbar ul {
    display: flex;
  }
  .navbar .hamburger {
    display: none;
  }
  .hero {
    display: grid;
    grid-template-rows: 4fr;
    grid-template-columns: 3fr;
  }
  .hero__picture {
    grid-row: 1/5;
    grid-column: 1/4;
  }
  .hero__text {
    width: 32.125rem;
    background-color: white;
    grid-row: 3/5;
    grid-column: 1/3;
  }
  .hero__text h2 {
    margin-block: 3rem 3.5rem !important;
  }
  .container {
    display: grid;
    grid-template-columns: 1.25fr 1.75fr;
    gap: 4.375rem;
    place-items: center;
  }
  .container__text {
    margin-block: 0 !important;
  }
  .contact {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 2rem;
    text-align: left !important;
  }
  .contact .line {
    height: 1px;
    width: 100%;
    min-width: 7.0625rem;
    background-color: rgb(206, 204, 204);
    margin-inline: auto;
  }
  footer {
    flex-direction: row;
    gap: 10rem;
    justify-content: space-between;
    padding: 3.5rem 5.9375rem !important;
    margin-inline: -2.5rem;
  }
  footer .footer-nav {
    flex-direction: row;
    justify-content: start;
  }
  footer .footer-nav ul {
    flex-direction: row;
    gap: 2.625rem;
  }
  .bookmark,
  .insure,
  .fylo {
    margin-block-start: 5rem;
  }
}
@media (min-width: 64rem) {
  body {
    padding-inline: 10.25rem;
  }
  .hero__text {
    max-width: 27.8125rem;
  }
  .container {
    display: grid;
    grid-template-columns: 1.75fr 1.25fr;
    gap: 7.8125rem;
    margin-inline-end: 5.9375rem;
  }
  .container__img {
    width: 100%;
  }
  .contact {
    grid-template-columns: 1fr 1fr 1fr;
    margin-block: 9.375rem !important;
  }
  .contact .line {
    max-width: 33.375rem;
  }
  footer {
    margin-inline: -10.3125rem;
  }
  footer .footer-nav {
    flex-direction: row;
    justify-content: start !important;
  }
  .manage {
    margin-inline-end: 5.9375rem;
  }
  .bookmark {
    margin-inline-start: 5.9375rem;
  }
}
.hero {
  margin-block-end: 6rem;
}
.hero__img {
  width: 100%;
}
.hero__text h2 {
  margin-block: 1.5rem 2rem;
}
.hero__btn {
  background-color: #203A4C;
  width: 12.5rem;
}
.hero__btn p {
  color: white;
  margin-inline: auto;
}
.hero__btn img {
  margin: 1.125rem;
}

.container__text {
  padding-block: 2rem 3.125rem;
  margin-block-start: 2rem;
  border-block: 1px solid rgb(206, 204, 204);
}
.container__sub {
  opacity: 0.8;
  margin-block: 1.75rem 2.25rem;
}

.contact {
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1.5rem;
  margin-block: 7.1875rem 5rem;
}
.contact a {
  margin-inline: auto;
}

.bookmark, .insure, .fylo {
  margin-block-start: 4.5rem;
}/*# sourceMappingURL=main.css.map */