@use "../abstracts/variables" as vars;
@use "../base/base" as base;


// HERO 


.hero {

    margin-block-end: 6rem;

    &__img {
        width: 100%;
    }

    &__text h2 {
        margin-block: 1.5rem 2rem;
    }

    &__btn {

        @extend .flex;
        background-color: vars.$color-primary-dark-blue;
        width: 12.5rem;

        p {
            color: white;
            margin-inline: auto;
        }


        img {
            margin: 1.125rem;
        }
    }
}


// ABOUT (.container)

.about {
    margin-block-end: 7.1875rem;
}



// CONTACT

.contact {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1.5rem;
    margin-block-end:5rem;

    a {
        @extend .btn;
        margin-inline: auto;
    }
}