@use "../abstracts/variables" as vars;
@use "../base/base" as base;


// HERO 


.hero {

    margin-block: 2.5rem 6rem;

    &__img {
        width: 100%;
    }

    &__text h2 {
        margin-block: 1.5rem 2rem;
    }

    &__btn {

        @extend .flex;
        background-color:vars.$color-primary-dark-blue;
        width: 12.5rem;

        p {
            color: white;
            margin-inline: auto;
        }
        

        img {
            margin: 1.125rem;   
        }
    }
}


// ABOUT 

.about {
    
    &__text {
        padding-block: 2rem 3.125rem;
        margin-block-start: 2rem;
        border-block: 1px solid rgb(206, 204, 204) ;
       
        p {
            opacity: 0.8;
            margin-block: 1.75rem 2.25rem;
        }
    }
}

// CONTACT

.contact {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1.5rem;
    margin-block: 7.1875rem 5rem;

    a{
        @extend .btn;
        margin-inline: auto;
    }
}