@use "../abstracts/variables" as vars;
@use "../base/base" as base;


footer {
    @extend .flex-column;
    background-color: vars.$color-primary-grayish-dark-blue;
    width: 100%;
    padding: 3.5rem 8.4375rem;
    gap: 2.5rem;

    .footer-nav {
        @extend .flex-column;
        gap: 2.5rem;

        ul {
            @extend .flex-column;
            gap: 2.875rem;
        }
    }

    .social-icons {
        @extend .flex;
        gap: 1rem;
    }

    img {
        cursor: pointer;
        filter: brightness(0) invert(1);
    }

    a {
        color: white;
    }

}