@use "../abstracts/variables" as vars;
@use "../base/base" as base;



@media (min-width:48rem) {

    nav,
    header,
    main,
    article,
    .hero-img,
    section,
    footer {
        padding-inline: 2.5rem;
    }

    // navigation

    body {
        padding-block-start: 4rem;
    }

    .navbar {

        margin-block-end: 5.875rem;

        ul {
            display: flex;
        }

        .hamburger {
            display: none;
        }
    }


    // HERO 

    .hero {
        display: grid;
        grid-template-rows: 4fr;
        grid-template-columns: 3fr;

        &__picture {
            grid-row: 1/5;
            grid-column: 1/4;
        }

        &__text {
            width: 32.125rem;
            background-color: white;
            grid-row: 3/5;
            grid-column: 1/3;

            h2 {
                margin-block: 3rem 3.5rem !important;

            }
        }
    }

    // ABOUT 

    .container {
        display: grid;
        grid-template-columns: 1.25fr 1.75fr;
        gap: 4.375rem;
        place-items: center;

        &__text {
            margin-block: 0 !important;
        }
    }

    // CONTACT 


    .contact {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 2rem;
        text-align: left !important;



        .line {
            height: 1px;
            width: 100%;
            min-width: 7.0625rem;
            background-color: rgb(206, 204, 204);
            margin-inline: auto;
        }
    }

    // footer 

    footer {
        flex-direction: row;
        gap: 10rem;
        justify-content: space-between;
        padding: 3.5rem 5.9375rem !important;

        .footer-nav {
            flex-direction: row;
            justify-content: start;

            ul {
                flex-direction: row;
                gap: 2.625rem;
            }
        }
    }

    // PORTFOLIO 

    .bookmark,
    .insure,
    .fylo {
        margin-block-start: (5rem);
    }

    .fylo {
        margin-block-end: 6rem;
    }

    .container.bookmark,
    .container.fylo {
        grid-template-columns: 1.75fr 1.25fr;

        .container__picture {
            order: 2;
        }

        .container__text {
            order: 1;
        }
    }

    // CARD 


    .card {
        display: grid;
        margin-block: 2.5rem;
        padding-block: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "card__title card__sub"
            "card__info card__sub"
            "btn car__sub";

        &__title {
            grid-area: card__title;
        }

        &__sub {
            grid-area: card__sub;
        }

        &__info {
            grid-area: card__info;
        }

        .btn {
            grid-area: btn;
        }
    }

    .previews {
        margin-block-end: 5rem;
    }

    .project__nav {
        margin-block-end: 5rem;

        .nav-div {
            display: flex;
            align-items: center;
            gap: 2rem;

            img {
                height: fit-content;
            }
        }


        .nav-div.right {
            flex-direction: row-reverse;

            img {
                margin-left: 0 !important;
            }
        }

    }


}




@media (min-width:64rem) {

    nav,
    header,
    main,
    article,
    .hero-img,
    section,
    footer {
        padding-inline: 10.25rem;

    }

    // HERO 

    .hero__text {
        max-width: 27.8125rem;
    }

    //about

    .about {
        margin-inline-end: 5.9375rem;
    }

    .container {
        display: grid;
        grid-template-columns: 1.75fr 1.25fr;
        gap: 7.8125rem;

        &__img {
            width: 100%;
        }
    }

    //  CONTACT 

    .contact {

        grid-template-columns: 1fr 1fr 1fr;
        margin-block-end: 9.375rem !important;
        padding: -10.25rem;


        .line {
            max-width: 33.375rem;
        }
    }

    // FOOTER 

    footer {
        max-width: 69.375rem;
        margin-inline: auto;

        .footer-nav {
            flex-direction: row;
            justify-content: start !important;
        }
    }

    // PORTFOLIO

    .manage {
        margin-inline-end: 5.9375rem !important;
    }

    .bookmark {
        margin-inline-start: 5.9375rem !important;
    }

    .insure {
        margin-inline-end: 5.9375rem !important;
    }

    .fylo {
        margin-inline-start: 5.9375rem !important;
        margin-block-end: 9.375rem !important;
    }


    // CARD 

    .project__content {
        display: grid;
        margin-block-start: 7.1875rem;
        grid-template-columns: 1.2fr 1.80fr;
        column-gap: 7.8125rem;
        align-items: start;
        grid-template-areas:
            "card back"
            "card previews";

        .card {
            grid-area: card;
            display: flex;
            flex-direction: column;

        }

        .backgorund {
            grid-area: back;
        }

        .previews {
            grid-area: previews;
            margin-block-end: 4rem;
        }

    }
}