@use "../abstracts/variables" as vars;
@use "../base/base" as base;



@media (min-width:768px) {

    // navigation

    body {
        padding-inline: 2.5rem;
        padding-block-start: 4rem;
    }

    .navbar {

        ul {
            display: flex;
        }

        .hamburger {
            display: none;
        }
    }


    // HERO 

    .hero {
        display: grid;
        grid-template-rows: 4fr;
        grid-template-columns: 3fr;

        &__picture {
            grid-row: 1/5;
            grid-column: 1/4;
        }

        &__text {
            width: 32.125rem;
            background-color: white;
            grid-row: 3/5;
            grid-column: 1/3;

            h2 {
                margin-block: 3rem 3.5rem !important;

            }
        }

    }

    // ABOUT 

    .about {
        display: grid;
        grid-template-columns: 1.25fr 1.75fr;
        gap: 4.375rem;
        place-items: center;

        &__text {
            margin-block: 0 !important;
        }
    }

    // CONTACT 


    .contact {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 2rem;
        text-align: left !important;



        .line {
            height: 1px;
            width: 100%;
            min-width: 7.0625rem;
            background-color: rgb(206, 204, 204);
            margin-inline: auto;
        }
    }

}


@media (min-width:64rem) {

    body {
        padding-inline: 10.25rem;
    }

    // HERO 

    .hero__text {
        max-width: 27.8125rem;
    }

    //about

    .about {
        display: grid;
        grid-template-columns: 1.75fr 1.25fr;
        gap: 7.8125rem;
        margin-inline-end: 5.9375rem;

        &__img {
            width: 100%;
        }
    }

    //  CONTACT 

    .contact {

        grid-template-columns: 1fr 1fr 1fr;
        margin-block: 9.375rem !important;

        .line {
            max-width: 33.375rem;
        }
    }




}