@use "../abstracts/variables" as vars;

body {
    min-height: 100vh;
    padding-block-start: 2rem;
    font-family: vars.$font-family-public;
    font-size: 1rem;
    line-height: 1.875rem;
    font-weight: 400;
    color: vars.$color-primary-grayish-dark-blue;
}

nav,
header,
main,
article,
section{
    min-width: 19.4375rem;
    max-width: 69.375rem;
    padding-inline: 32px;
    margin-inline: auto !important;

}


.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    color: inherit;
    font-size: .75rem;
    padding: .625rem 2rem;
    letter-spacing: .125rem;
    border: 1px solid vars.$color-primary-grayish-dark-blue;
    width: fit-content;
}
